{:paths ["src"]

 :deps
 {org.clojure/clojure {:mvn/version "1.10.3"}
  org.clojure/core.async {:mvn/version "1.3.610"}
  org.clojure/spec.alpha {:mvn/version "0.2.194"}
  }

 :aliases
 {:dev {:extra-paths ["dev"]}
  :test {:extra-paths ["test"]
         :extra-deps {org.clojure/test.check {:mvn/version "1.1.0"}
                      criterium/criterium {:mvn/version "0.4.6"}}}
  :project/mv-spit
  {:extra-deps {metav/metav {:mvn/version "1.6.7"}}
   :main-opts ["-m" "metav.spit"
               "--output-dir" "src"
               "--namespace" "sequence.meta"
               "--formats" "edn"]}}}